@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {
    position: relative;
    padding-left: 239px;
}

.logo-link {
    position: absolute;
    top: 0;
    left: 70px;
}

.logo-image {}

.nav {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.main-menu-item {}

.main-menu-link {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    padding: 20px 16px;
    display: block;
}

.user-menu {
    margin: 0;
    padding: 14px 70px 12px 0;
    list-style: none;
    display: flex;
    width: 380px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.user-menu-item {}

.user-menu-link-search {
    width: 44px;
    height: 36px;
    display: block;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.user-menu-link-favorite {
    width: 44px;
    height: 36px;
    display: block;
    background-image: url("../images/heart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.fav-count {
    background-color: #7db54f;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    right: 4px;
    top: -3px;
}

.user-menu-item-button {
    margin-left: 20px;
}

.user-menu-link-button {
    display: block;
    background-color: #756157;
    border-radius: 4px;
    text-decoration: none;
    max-width: 162px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 34px 8px 36px;
}

.welcome {
    padding-bottom: 84px;
    padding-top: 50px;
    background-color: #264f6b;
    background-image: url("../images/triangle.svg"), url("../images/background-welcome.jpg");
    background-size: 100% 57px, cover;
    min-height: 352px;
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 bottom 0, center top;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.welcome-image {
    display: block;
    margin: 0 auto 0 auto;
}

.reasons {
    margin: 0;
    padding-top: 69px;
}

.reasons-text {
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 25px;
    padding: 0;
}

.reasons-subtext {
    color: #333333;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 89px;
    padding: 0;
}

.reasons-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.reasons-item-blue {
    width: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
}

.reasons-blu-container {
    background-color: #82b3d3;
    width: 400px;
    padding: 103px 0;
    background-image: url(../images/line-white.svg);
    background-repeat: no-repeat;
    background-position: center 188px;
}

.reasons-title {
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 60px;
    padding: 0;
}

.reasons-item-blue .reasons-title {
    color: #ffffff;
}

.reasons-description {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

.reasons-item-blue .reasons-description {
    color: #ffffff;
}

.reasons-image {
    width: 800px;
    height: 100%;
    object-fit: cover;
}

.reasons-item {
    background-color: rgba(131, 179, 211, 0.20);
    width: 400px;
    margin: 0;
    padding-top: 114px;
    padding-bottom: 113px;
    background-image: url(../images/line-grey.svg);
    background-repeat: no-repeat;
    background-position: center 198px;
    ;
}

.reasons-item:nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.12);
}

.services {
    margin: 0;
    padding-top: 64px;
}

.services-slogan {
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 21px;
    padding: 0;
}

.services-description {
    color: #333333;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 63px;
    padding: 0;
}

.services-list {
    margin: 0;
    padding: 0;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 1200px;
}

.services-item {
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
    margin: 0;
    padding-top: 185px;
    padding-bottom: 81px;
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    background-position: center 83px;
}

.services-item:nth-child(2n) {
    background-color: #ffffff;
}

.services-item-house {
    background-image: url("../images/house.svg");
}

.services-item-burger {
    background-image: url("../images/food.svg");
}

.services-item-souvenir {
    background-image: url("../images/souvenir.svg");
}

.services-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 28px;
}

.services-text {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

.search {
    padding-bottom: 95px;
    padding-top: 96px
}

.search-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto 20px;
    width: 600px;
}

.search-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 0;
    margin: 0 auto 54px;
    width: 600px;
}

.search-button {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 4px;
    background: #756157;
    text-decoration: none;
    min-height: 36px;
    margin: 0 412px 0 412px;
    padding: 8px 50px;
    max-width: 600px;
    box-sizing: border-box;
}

.main-footer {}

.subscribe {
    padding-top: 98px;
    padding-bottom: 105px;
    display: block;
    background-color: #264f6b;
    background-image: url("../images/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
}

.subscribe-welcome {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px;
    padding: 0;
    width: 500px;
}

.subscribe-description {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto 54px;
    padding: 0;
    width: 500px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 258px;
    width: 684px;
}

.email {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 452px;
    min-height: 51px;
    padding-left: 21px;
    border: none;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

.subscribe-button {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    background: #82b3d3;
    width: 232px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.address {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 70px 56px 83px;
    justify-content: space-between;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0 0;
    padding: 0;
    width: 150px;
}

.social-item {
    list-style: none;
    text-decoration: none;
}

.social-link-vk {
    display: block;
    background-image: url("../images/vk.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 40px;
}

.social-link-tg {
    display: block;
    background-image: url("../images/telegram.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 40px;
}

.social-link-youtube {
    display: block;
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 40px;
}

.phone-item {}

.phone-button {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    margin-right: 11px;
}

.footer-logo-block {
    padding-top: 3px;
}

.footer-logo-link {}

.footer-logo {}

.filter-content {
    background-color: #54a3d8;
    background-image: url("../images/filtr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    min-height: 357px;
    padding: 55px 0 0;
}

.title {
    margin: 0 600px 30px 70px;
    padding: 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 36px;
}

.breadcrumbs {
    margin: 0 0 0 70px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.breadcrumbs-icon {
    list-style: none;
    text-decoration: none;
    padding-top: 5px;
}

.breadcrumbs-link-home {
    display: block;
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.breadcrumbs-link-next {
    display: block;
    background-image: url("../images/next.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

.breadcrumbs-item {
    list-style: none;
    text-decoration: none;
}

.breadcrumbs-link-hotels {
    color: #ffffff;
    text-decoration: none;
    margin-left: 7px;
    font-size: 16px;
}

.search-form {
    display: flex;
    margin: 0;
    padding-top: 41px;
    padding-left: 69px;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 70px;
}

.search-option {
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: none;
    width: 150px;
}

.housing {
    margin-left: 31px;
}

.search-option-title {
    margin-bottom: 34px;
}

.search-option-list {
    margin: 0;
    padding: 0;
    min-width: 150px;
}

.search-option-item {
    list-style: none;
    text-decoration: none;
    margin-bottom: 19px;
    font-size: 17px;
    position: relative;
}

.checkbox-input {}

.checkbox-label {
    position: relative;
    padding-left: 40px;
}

.checkbox-label::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    left: 0;
    top: 1px;
    display: block;
}

.checkbox-label::after {
    content: "";
    width: 9px;
    height: 5px;
    position: absolute;
    transform: rotate(-45deg);
    border-bottom: 2px solid #3f5e72;
    border-left: 2px solid #3f5e72;
    left: 5px;
    top: 6px;
    display: none;
}

.checkbox-input:checked + .checkbox-label::after {
    display: block;
}

.checkbox-label-radio {
    position: relative;
    padding-left: 39px;
}

.checkbox-label-radio::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    left: 0;
    top: 0;
    display: block;
}

.checkbox-label-radio::after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 6px;
    position: absolute;
    background-color: #3f5e72;
    left: 5px;
    top: 5px;
    display: none;
}

.checkbox-input:checked + .checkbox-label-radio::after {
    display: block;
}

.cost-form {
    margin-left: 101px;
    margin-right: 72px;
    width: 295px;
}

.cost {
    display: flex;
    position: relative;
    color: #000000;
}

.cost-from {
    width: 143px;
    height: 48px;
    background: #f2f2f2;
    border-radius: 4px 0 0 4px;
    border: none;
    box-sizing: border-box;
    padding: 12px 20px;
    color: #000000;
    font-weight: 700;
    line-height: 21px;
}

.cost-till {
    width: 143px;
    height: 48px;
    background: #f2f2f2;
    border-radius: 0 4px 4px 0;
    border: none;
    box-sizing: border-box;
    padding: 12px 20px;
    color: #000000;
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    border-left: 2px solid;
}

.catalog-filter-from {
    position: absolute;
    top: 13px;
    left: 106px;
    color: #333333;
}

.catalog-filter-till {
    position: absolute;
    top: 13px;
    left: 248px;
    color: #333333;
}

.container-cost {
    position: relative;
}

.range {
    width: 226px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 5;
}

.scale {
    width: 287px;
    height: 4px;
    background-color: #535353;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 1;
}

.handler {
    position: absolute;
    top: 34px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 10;
}

.handler-min {
    left: 0;
}

.handler-max {
    left: 207px;
}

.search-option {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.apply {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #82b3d3;
    box-sizing: border-box;
    width: 191px;
    padding: 8px 41px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 53px;
}

.reset {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 191px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 41px;
}

.catalog-hotels {
    padding: 50px 68px 0 70px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.found {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
}

.select-control {
    margin-left: 202px;
    padding: 9px 86px 10px 13px;
    font-size: 18px;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 21px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.button-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 71px;
    gap: 8px;
}

.button-card {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 3px solid #000000;
    box-sizing: border-box;
    background-image: url("../images/cards.svg");
    background-repeat: no-repeat;
    background-size: 16px 14px;
    background-position: 12px 13px;
}

.button-card-big {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
    background-image: url("../images/big-cards.svg");
    background-repeat: no-repeat;
    background-size: 16px 14px;
    background-position: 12px 14px;
}

.button-card-ul {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
    ;
    box-sizing: border-box;
    background-image: url("../images/ul.svg");
    background-repeat: no-repeat;
    background-size: 16px 14px;
    background-position: 12px 14px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    padding: 40px 69px 19px;
}

.hotel-card {
    padding: 0;
    margin: 0;
    width: 300px;
    min-height: 395px;
    margin-bottom: 20px;
    list-style: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-image {}

.hotel-card-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    margin: 9px 0 11px;
    width: 300px;
}

.prices {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.hotel-card-price {
    padding: 0;
    margin: 0;
}

.price {
    padding: 0;
    margin: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.hotel-details {
    display: block;
    text-transform: uppercase;
    background-color: #756157;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 140px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
    text-decoration: none;
}

.hotel-favorites {
    display: block;
    text-transform: uppercase;
    background-color: #82b3d3;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 140px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
    text-decoration: none;
    margin-left: 20px;
}

.green {
    background-color: #7db54f;
    padding: 8px 18px;
}

.four-stars-raiting {
    width: 140px;
    background-image: url(../images/star.svg), url(../images/star.svg), url(../images/star.svg), url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 25px, left 24px top 25px, left 48px top 25px, left 73px top 25px;
    margin: 0;
}

.three-stars-raiting {
    width: 140px;
    background-image: url(../images/star.svg), url(../images/star.svg), url(../images/star.svg), url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 25px, left 24px top 25px, left 48px top 25px;
    margin: 0;
}

.two-stars-raiting {
    width: 140px;
    background-image: url(../images/star.svg), url(../images/star.svg), url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 25px, left 24px top 25px;
    margin: 0;
}

.raiting {
    display: block;
    text-transform: uppercase;
    background-color: #f2f2f2;
    box-sizing: border-box;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 140px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
    text-decoration: none;
    margin-left: 20px;
}

.pagination {
    margin: 0;
    padding: 40px 69px 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.long-line {
    position: relative;
    margin: 0;
    padding: 0;
}

.line {
    position: absolute;
    width: 1060px;
    height: 1px;
    background-color: #e6e6e6;
    top: 0;
    left: 70px;
    z-index: 1;
}

.pagination-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-link {
    display: block;
    margin: 0;
    background-color: #82b3d3;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.pagination-current {
    display: block;
    margin: 0;
    background-color: #f2f2f2;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.pagination-link-more {
    display: block;
    margin: 0;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.subscribe-catalog {
    padding-top: 98px;
    padding-bottom: 105px;
    display: block;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
}

.subscribe-welcome-catalog {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px;
    padding: 0;
    width: 500px;
}


.subscribe-description-catalog {
    color: #000000;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto 55px;
    padding: 0;
    width: 500px;
}

.email-catalog {
    background-color: #e6e6e6;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 452px;
    min-height: 51px;
    padding-left: 21px;
    border: none;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

.phone-button-catalog {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    margin-right: 17px;
}
